In [2]:
import tensorflow as tf
import os
import sklearn  
import re
import pandas as pd

In [3]:
train_data = r'C:\Users\WWD_5\OneDrive\Desktop\INternship Tasks\Second Task\movie_env\train_data.txt'

In [4]:
test_data =  r'C:\Users\WWD_5\OneDrive\Desktop\INternship Tasks\Second Task\movie_env\test_data.txt'

In [5]:
def testdata(filepath):
    data = []
    with open(filepath, 'r',encoding='utf-8') as file:
        for line in file:
            parts =  line.strip().split(' ::: ')
            if len(parts) ==  3:
                data.append(parts)

    return pd.DataFrame(data, columns=['ID', 'Title', 'Description'])

In [6]:
def traindata(filepath):
    data = []
    with open(filepath, 'r', encoding='utf-8') as file:
        for line in file:
            parts = line.strip().split(' ::: ')
            if len(parts) ==  4:
                data.append(parts)
    
    return pd.DataFrame(data, columns =['ID', 'Title', 'Gerne', 'Description'])

In [7]:
test_df =  testdata(test_data)
train_df =  traindata(train_data)

In [8]:
test_df.head()

,ID,Title,Description
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),Before he was known internationally as a marti...

In [9]:
train_df.head()

,ID,Title,Gerne,Description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [10]:
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

NOW WE WILL CLEAN THE DATA

In [12]:
#we are using regex function of the python in this 
#\W is used to or its special sequence in regex to match non-word charector
# and \s+ is used to 

def clean(text):
    text =  re.sub(r'\W', ' ', text)
    text =  re.sub(r'\s+', ' ', text)
    text = text.lower()
    words =  text.split()

    clean_words = []
    for word in words:
        if word not in stopwords.words('english'):
            clean_words.append(word)

    return  ' '.join(clean_words)

we are using regex function of the python in this \W is used to or its special sequence in regex to match non-word charector

In [13]:
train_df['cleaned_description'] = train_df['Description'].apply(clean)

In [14]:
test_df['cleaned_description'] =  test_df['Description'].apply(clean)

In [15]:
train_df.head()

,ID,Title,Gerne,Description,cleaned_description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...,listening conversation doctor parents 10 year ...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...,brother sister past incestuous relationship cu...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...,bus empties students field trip museum natural...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...,help unemployed father make ends meet edith tw...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...,film title refers un recovered bodies ground z...

In [16]:
test_df.head()

,ID,Title,Description,cleaned_description
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apart...",l r brane loves life car apartment job especia...
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty chi...",spain march 1964 quico naughty child three bel...
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family o...,one year life albin family shepherds north tra...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with his...",father died spoken brother 10 years serious ca...
4,5,Er nu zhai (1955),Before he was known internationally as a marti...,known internationally martial arts superstar b...

In [17]:
#this part is optional i have done this only for my cencirn
test_df.rename(columns={'cleaned_description': 'Cleaned_Description'},inplace=True)

In [18]:
#this part is optional i have done this only for my cencirn
train_df.rename(columns={'cleaned_description': 'Cleaned_Description'},inplace=True)

In [19]:
#this part is optional i have done this only for my cencirn
#the readon to copy the data is that its taking to much time to clean
traindf = train_df.copy()

In [20]:
testdf = test_df.copy()

In [21]:
testdf.head()

,ID,Title,Description,Cleaned_Description
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apart...",l r brane loves life car apartment job especia...
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty chi...",spain march 1964 quico naughty child three bel...
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family o...,one year life albin family shepherds north tra...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with his...",father died spoken brother 10 years serious ca...
4,5,Er nu zhai (1955),Before he was known internationally as a marti...,known internationally martial arts superstar b...

In [22]:
traindf.head()

,ID,Title,Gerne,Description,Cleaned_Description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...,listening conversation doctor parents 10 year ...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...,brother sister past incestuous relationship cu...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...,bus empties students field trip museum natural...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...,help unemployed father make ends meet edith tw...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...,film title refers un recovered bodies ground z...

In [23]:
# Clean the data
#train_df['cleaned_description'] = train_df['Description'].apply(clean)
#test_df['cleaned_description'] = test_df['Description'].apply(clean)

# Save the cleaned data to CSV files
train_df.to_csv('cleaned_train_data.csv', index=False)
test_df.to_csv('cleaned_test_data.csv', index=False)

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Vectorize the text data
vectorizer = TfidfVectorizer(max_features=5000)
X_train = vectorizer.fit_transform(train_df['Cleaned_Description']).toarray()
X_test = vectorizer.transform(test_df['Cleaned_Description']).toarray()

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Vectorize the text data
vectorizer = TfidfVectorizer(max_features=5000)
X_train = vectorizer.fit_transform(train_df['Cleaned_Description']).toarray()
X_test = vectorizer.transform(test_df['Cleaned_Description']).toarray()

In [26]:
from sklearn.preprocessing import MultiLabelBinarizer

# Split genres into lists
train_df['Genre_List'] = train_df['Gerne'].apply(lambda x: x.split(', '))

# Encode the genres
mlb = MultiLabelBinarizer()
y_train = mlb.fit_transform(train_df['Genre_List'])

In [27]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

# Define the model
model = Sequential([
    Dense(512, activation='relu', input_shape=(X_train.shape[1],)),
    Dropout(0.5),
    Dense(256, activation='relu'),
    Dropout(0.5),
    Dense(len(mlb.classes_), activation='sigmoid')  # Sigmoid for multi-label classification
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Print the model summary
model.summary()

c:\Users\WWD_5\OneDrive\Desktop\INternship Tasks\Second Task\movie_env\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 512)            │     2,560,512 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout (Dropout)               │ (None, 512)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 256)            │       131,328 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_1 (Dropout)             │ (None, 256)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 27)             │         6,939 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,698,779 (10.30 MB)

 Trainable params: 2,698,779 (10.30 MB)

 Non-trainable params: 0 (0.00 B)

In [28]:
# Train the model
history = model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10
1356/1356 ━━━━━━━━━━━━━━━━━━━━ 23s 16ms/step - accuracy: 0.3797 - loss: 0.1510 - val_accuracy: 0.5752 - val_loss: 0.0805
Epoch 2/10
1356/1356 ━━━━━━━━━━━━━━━━━━━━ 22s 16ms/step - accuracy: 0.6121 - loss: 0.0754 - val_accuracy: 0.5891 - val_loss: 0.0767
Epoch 3/10
1356/1356 ━━━━━━━━━━━━━━━━━━━━ 23s 17ms/step - accuracy: 0.6823 - loss: 0.0629 - val_accuracy: 0.5901 - val_loss: 0.0780
Epoch 4/10
1356/1356 ━━━━━━━━━━━━━━━━━━━━ 22s 16ms/step - accuracy: 0.7386 - loss: 0.0526 - val_accuracy: 0.5865 - val_loss: 0.0810
Epoch 5/10
1356/1356 ━━━━━━━━━━━━━━━━━━━━ 25s 19ms/step - accuracy: 0.8088 - loss: 0.0410 - val_accuracy: 0.5751 - val_loss: 0.0879
Epoch 6/10
1356/1356 ━━━━━━━━━━━━━━━━━━━━ 42s 31ms/step - accuracy: 0.8657 - loss: 0.0305 - val_accuracy: 0.5697 - val_loss: 0.0996
Epoch 7/10
1356/1356 ━━━━━━━━━━━━━━━━━━━━ 25s 18ms/step - accuracy: 0.9101 - loss: 0.0217 - val_accuracy: 0.5640 - val_loss: 0.1097
Epoch 8/10
1356/1356 ━━━━━━━━━━━━━━━━━━━━ 27s 20ms/step - accuracy: 0.9368 - loss: 0.0161 - val_accuracy: 0.5626 - val_loss: 0.1225
Epoch 9/10
1356/1356 ━━━━━━━━━━━━━━━━━━━━ 23s 17ms/step - accuracy: 0.9543 - loss: 0.0126 - val_accuracy: 0.5649 - val_loss: 0.1349
Epoch 10/10
1356/1356 ━━━━━━━━━━━━━━━━━━━━ 24s 18ms/step - accuracy: 0.9665 - loss: 0.0096 - val_accuracy: 0.5620 - val_loss: 0.1411

In [29]:
# Evaluate the model
loss, accuracy = model.evaluate(X_train, y_train)
print(f'Loss: {loss}')
print(f'Accuracy: {accuracy}')

1695/1695 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9889 - loss: 0.0046
Loss: 0.029438788071274757
Accuracy: 0.9111115336418152

In [30]:
# Save the model
model.save('movie_genre_classifier.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [31]:
import pickle

# Save the vectorizer
with open('tfidf_vectorizer.pkl', 'wb') as f:
    pickle.dump(vectorizer, f)

# Save the MultiLabelBinarizer
with open('label_binarizer.pkl', 'wb') as f:
    pickle.dump(mlb, f)

In [116]:
# Evaluate the model on training set
loss, accuracy = model.evaluate(X_train, y_train)
print(f'Training Loss: {loss}')
print(f'Training Accuracy: {accuracy}')

1695/1695 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9889 - loss: 0.0046
Training Loss: 0.029438788071274757
Training Accuracy: 0.9111115336418152

In [120]:
import tensorflow as tf
import pickle
import re
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
from tensorflow.keras.models import load_model
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

# Function to clean the text
def clean(text):
    text = re.sub(r'\W', ' ', text)
    text = re.sub(r'\s+', ' ', text)
    text = text.lower()
    words = text.split()
    clean_words = [word for word in words if word not in stopwords.words('english')]
    return ' '.join(clean_words)

# Paths to the artifacts
tfidf_vectorizer_path = 'tfidf_vectorizer.pkl'
label_binarizer_path = 'label_binarizer.pkl'
model_path = 'movie_genre_classifier.h5'

# Load the TfidfVectorizer
with open(tfidf_vectorizer_path, 'rb') as f:
    vectorizer = pickle.load(f)

# Load the MultiLabelBinarizer
with open(label_binarizer_path, 'rb') as f:
    mlb = pickle.load(f)

# Load the Keras model
model = load_model(model_path)

# Example descriptions
new_description1 = "A team of explorers discover a mysterious island filled with prehistoric creatures and ancient civilizations."
new_description2 = "A young wizard battles the forces of evil with his friends in a magical school."



# Clean and vectorize the new descriptions
cleaned_description1 = clean(new_description1)
cleaned_description2 = clean(new_description2)
vectorized_description1 = vectorizer.transform([cleaned_description1]).toarray()
vectorized_description2 = vectorizer.transform([cleaned_description2]).toarray()

# Predict genres
predictions1 = model.predict(vectorized_description1)
predictions2 = model.predict(vectorized_description2)

# Apply a threshold to get binary predictions
threshold = 0.3  # Adjust the threshold as needed
binary_predictions1 = (predictions1 > threshold).astype(int)
binary_predictions2 = (predictions2 > threshold).astype(int)

# Convert binary predictions to genre names
predicted_genres1 = mlb.inverse_transform(binary_predictions1)
predicted_genres2 = mlb.inverse_transform(binary_predictions2)

# Print predictions
print(f"Predicted Genres for Description 1: {predicted_genres1}")
print(f"Predicted Genres for Description 2: {predicted_genres2}")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\WWD_5\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
Predicted Genres for Description 1: [('animation',)]
Predicted Genres for Description 2: [('fantasy',)]